body {
  font-family: 'Lato', sans-serif;
  color: #bbb4b4;
  overflow-x: hidden;
}
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.menu_link {
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
}
.nav-link:after {
  content:'';
  display: block;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.5s;
}
.nav-link:hover {
  color: #fff;
  transition: all .5s ease;
}
.nav-link:hover::after {
  width: 100%;
  transition: width 0.5s;
}
.menu {
  background-image: url(../img/main-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 210px;
}
.purple-nav {
  background-color: rgba(120,27,233, 0.05);
}
.main-title {
  font-size: 62px;
  font-weight: 900;
  color: #fff;
}
.main {
  padding-top: 220px;
}
.main-dot {
  color: #4c76ff;
}
.main-subtitle {
  font-size: 48px;
}
.inline-block {
  display: inline-block;
}
.subtext{
  margin: 20px 0 0 0;
}
.subtext hr {
  vertical-align: middle;
  margin: 0 30px;
}
/* Social Links */
.social-link {
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 4px 10px;
  margin-right: 5px;
  border: 1px solid rgba(255, 255, 255, .0);
}
.social-link:last-child {
  margin-right: 0;
}
.social-link:first-child {
  padding: 4px 13px;
}
.google-link {
  padding: 7px 10px;
}
.social-link:hover {
  border-radius: 30px;
  border: 1px solid #fff;
}
.social-wrapper ul li:hover{
  background: #fff;
  box-shadow: 0 0 30px 3px #fff;
  color: red;
  transition: all 0.5s linear;
}
/* Features Section*/
.features {
  padding: 80px 0 120px 0;
  background-color: #efefef;
}
.features-title {
  color: #4c76ff;
  font-size: 28px;
  font-weight: 900;
}
.feature-row {
  padding-top: 80px;
}
.features-blocks_svg {
  border: 1px solid #4c76ff;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.features-blocks_svg:hover {
  background-color: #4c76ff;
  color: #fff;
  box-shadow: 0 0 30px 3px #fff;
  transition: all 0.5s linear;
}
.features-row_blocks_title {
  margin-left: 20px;
  color: #000;
}
.features-row_blocks_text {
  margin: 0 50px;
  color: #000;
}
.feature-columns {
  margin-bottom: 30px;
}
/* iPhone Section */
.iPhone {
  padding: 90px 0;
}
.iPhone-text {
  margin: 0 40px 80px;
  color: #000;
}
.iPhone-imgs {
  margin-right: 25px;
  width: 40px;
  height: 40px;
  transition: all .8s linear;
}
.iPhone-imgs:hover{
  width: 50px;
  height: 50px;
  transition: all .8s linear;
  box-shadow: 0 0 30px 3px #fff;
}
.iPhone-blocks{
  margin: 0 40px;
}
.iPhone-blocks:hover>.iPhone-imgs{
  width: 50px;
  height: 50px;
  transition: all .8s linear;
  box-shadow: 0 0 30px 3px #fff;
}
.iPhone-blocks-text {
  margin: 0 0 80px 90px ;
}
.iPhone-main-img {
  transition: 1.1s ease all;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.iPhone-main-img:hover {
  transform: rotate(360deg);
  transition: 1.1s ease all;
}
/* Team Section */
.team {
  padding: 50px 0 100px;
}
.team-text {
  color: #000;
  text-align: center;
  margin: 50px 40px 80px;
}
.card {
  margin-bottom: 40px;
  justify-content: space-around;
}
.card-block {
  margin: 0 auto;
}
.card-body {
  text-align: center;
}
.card-text {
  font-size: 14px;
}
.card-hover {
  text-align: center;
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 249px;
  transition: all .7s linear;
}
.card-title {
  transition: all .7s linear;
}
.card:hover .card-title {
  color: #12b595;
  transition: all .4s linear;
}
.card:hover .card-hover {
  background-color: rgba(85, 125, 255, .9);
  transition: all .4s linear;
  opacity: 1;
}
.card-hover-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10%;
}
.card-hover-text {
  font-size: 14px;
  width: 91%;
  margin: 0 auto;
}
.card-hover-links {
  margin-top: 40px;
}
/* City Section */
.city {
  width: 100%;
  min-height: 80vh;
  background: url("../img/city.png") center center no-repeat;
  background-size: cover;
  padding: 80px 0 80px;
  animation: slideBg 16s linear infinite 0s;
  backface-visibility: hidden;
  animation-direction: alternate;
}
@keyframes slideBg {
  0% {
    background-image: url("../img/city.png");
  }

  25% {
    background-image: url("../img/night-city.png");
  }
  50% {
    background-image: url("../img/city3.jpg");
  }
  75% {
    background-image: url("../img/city4.jpg");
  }
  100% {
    background-image: url("../img/city5.jpg");
  }
}
.city-blocks-row {
  text-align: center;
  padding-top: 60px;
  justify-content: space-around;
}
.city-symbol {
  display: block;
  margin: 0 auto 20px;
  border: 1px solid #bbb4b4;
  border-radius: 100px;
  padding: 40px 40px;
}
.city-numbers {
  font-size: 45px;
  color: #fff;
}
.city-text {
  color: #bbb4b4;
  font-size: 14px;
  text-transform: uppercase;
}
/* Form Section */
.form-row {
  padding-top: 80px;
}
.form-subtitle {
  text-align: center;
  margin: 50px auto 40px;
}
.form-text, .form-text-title {
  color: #000;
  margin-bottom: 50px;
}
.form-text-title {
  width: 90%;
}
.form-text-subtitle {
  margin-top: 30px;
}
.input-row {
  padding-top: 40px;
}
.form-input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.form-input:focus {
  outline: none;
}
.block-input {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.inline-input {
  width: 47%;
  display: inline-block;
  margin-top: 40px;
}
.input-right, .input-button {
  float: right;
}
.input-button {
  margin-bottom: 80px;
  padding: 10px 10px;
  border: none;
  background-color: inherit;
  transition: all .4s ease;
}
.input-button-text {
  font-size: 14px;
  margin-left: 10px;
  color: #000;
}
.input-button:hover .input-button-text {
  color: #fff;
  transition: all .4s ease;
}
.input-button:hover {
  background-color: #5e5e5e;
  transition: all .4s ease;
}
.form-social-link {
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 4px 10px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, .0);
}
.form-social-link:hover {
  border-radius: 30px;
  border: 1px solid #5aeced;
}
.form-social-wrapper ul li:hover{
  background: #5aeced;
  box-shadow: 0 0 30px 3px #5aeced;
  color: red;
  transition: all 0.5s linear;
}
.form-social-wrapper ul li {
  width: 40px;
}
.form-social-link {
  margin: 0 0 10px;
}
/* Footer Section */
footer {
  background-color: #000;
  padding: 50px 0;
}
footer img {
  width: 35%;
}
footer p {
  margin-top: 25px;
}
.footer-subscribe {
  color: #fff;
}
