body {
  font-family: 'Lato', sans-serif;
  color: #bbb4b4;
  overflow-x: hidden;
}
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.menu_link {
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
}
.nav-link:hover {
  color: #fff;
  transition: all .5s ease;
}
.menu {
  background-image: url(../img/main-bg.png);
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 210px;
}
.purple-nav {
  background-color: rgba(120,27,233, 0.05);
}
.main-title {
  font-size: 62px;
  font-weight: 900;
  color: #fff;
}
.main {
  padding-top: 220px;
}
.main-dot {
  color: #4c76ff;
}
.main-subtitle {
  font-size: 48px;
}
.inline-block {
  display: inline-block;
}
.subtext{
  margin: 20px 0 0 0;
}
.subtext hr {
  vertical-align: middle;
  margin: 0 30px;
}
/* Social Links */
.social-wrapper {

}
.social-link {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 4px 10px;
  margin-right: 5px;
  border: 1px solid rgba(255, 255, 255, .0);
}
.social-link:last-child {
  margin-right: 0;
}
.social-link:first-child {
  padding: 4px 13px;
}
.google-link {
  padding: 7px 10px;
}
.social-link:hover {
  border-radius: 30px;
  border: 1px solid #fff;
}
.social-wrapper ul li:hover{
  background: #fff;
  box-shadow: 0 0 30px 3px #fff;
  color: red;
  transition: all 0.5s linear;
}
/* Features Section*/
.features {
  padding: 80px 0 120px 0;
  background-color: #efefef;
}
.features-title {
  color: #4c76ff;
  font-size: 28px;
  font-weight: 900;
}
.heart-block {
  padding-bottom: 80px;
}
.features-blocks_svg {
  border: 1px solid #4c76ff;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.features-blocks_svg:hover {
  background-color: #4c76ff;
  color: #fff;
  box-shadow: 0 0 30px 3px #fff;
  transition: all 0.5s linear;
}
.features-row_blocks_title {
  margin-left: 20px;
}
.features-row_blocks_text {
  margin-left: 50px;
}
