body {
  font-family: 'Lato', sans-serif;
  color: #bbb4b4;
  overflow-x: hidden;
}
a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.menu_link {
  font-size: 12px;
  font-weight: 400;
  margin-right: 20px;
}
.nav-link:hover {
  color: #fff;
  transition: all .5s ease;
}
.menu {
  background-image: url(../img/main-bg.png);
  height: 100vh;
}
.purple-nav {
  background-color: rgba(120,27,233, 0.05);
}
.main-title {
  font-size: 62px;
  font-weight: 900;
  color: #fff;
}
.main {
  padding-top: 220px;
}
.main-dot {
  color: #4c76ff;
}
.main-subtitle {
  font-size: 48px;
}
.inline-block {
  display: inline-block;
}
.subtext{
  margin: 20px 0;
}
.subtext hr {
  vertical-align: middle;
  margin: 0 30px;
}
/* Social Links */
.social-wrapper{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%,-50%);
}
.social-wrapper ul li{
  float: left;
  padding: 20px 20px;
  margin-right: 6px;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease;
}
.social-wrapper ul li:last-child{
  margin-right: 0;
}
.social-wrapper ul li .fa{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 18px;
  transition: all 0.5s ease;
}
.social-wrapper ul li:hover{
  background: #fff;
  box-shadow: 0 0 30px 3px #fff;
  border: 2px solid #fff;
}
.social-wrapper ul li:hover .fa{
  color: #f06060;
}
